.top-header-section {
    margin-top: 0px;
    margin-bottom: 40px;
}

.top-header-section h1 {
    margin-bottom: 10px;
}
.top-header-section .header-text {
    margin-top: 0px;
    color: #999;
    font-size: 14px;
}

.top-header-section .icon {
    margin-right: 3px;
}
