.footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style: circle;
    color: #999;
    margin-top: 0px;
    font-size: 0.8em;
}

.footer-link-list a {
    color: #66c;
    text-decoration: none;
}