.header-container {
    margin-bottom: 40px;
}
.header-container h1 {
    margin-bottom: 0px;
}
.header-container .header-text {
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}
li {
    margin-bottom: 10px;
}

.plugin-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.plugin-card h2 {
    margin-top: 10px;
}
